#!/usr/bin/make -f

export DH_VIRTUALENV_INSTALL_ROOT=/opt
export DH_VIRTUALENV_PACKAGE_NAME=config-weaver

%:
	dh $@ --with python-virtualenv

override_dh_installsystemd:
	dh_installsystemd --no-start --no-enable
